In [1]:
import os
os.chdir('../..')
import datetime

In [2]:
import pandas as pd
import numpy as np

from datetime import datetime, date
import matplotlib.pyplot as plt

import json

data = 'data/'

In [3]:
atms = pd.read_csv(data + 'atms.small.csv')
clients = pd.read_csv(data + 'clients.small.csv')
companies = pd.read_csv(data + 'companies.small.csv')
transactions = pd.read_csv(data + 'transactions.small.csv')

In [4]:
import sqlalchemy

In [5]:
import psycopg2
engine = sqlalchemy.create_engine('postgresql://postgres:postgres@localhost:5432/lauzhacksmall')

In [11]:
atms.to_sql("atms", engine)

In [12]:
clients.to_sql("clients", engine)
companies.to_sql("companies", engine)
transactions.to_sql("trancations", engine)

In [4]:
import networkx as nx

In [5]:
import json
groups=open(data + './groups.json').read()

In [6]:
jsondata=open(data + './groups.json').read()

In [7]:
groups = json.loads(jsondata)

In [8]:
type(groups)

dict

In [9]:
G = nx.DiGraph()
all_sources = []
all_targets = []

# CURRENCY MATTERS MAYBE? 
for transaction_list in groups['source']['flow']: # C
    source = transactions[transactions['id'].isin(transaction_list)]['source'].tolist()[0]
    targets = transactions[transactions['id'].isin(transaction_list)]['target'].tolist()
    dates = transactions[transactions['id'].isin(transaction_list)]['date'].tolist()
    times = transactions[transactions['id'].isin(transaction_list)]['time'].tolist()
    amounts = transactions[transactions['id'].isin(transaction_list)]['amount'].tolist() 
    
    G.add_node(source)
    G.add_nodes_from(targets)
    
    for i in range(0, len(targets)):
        G.add_edge(source, targets[i], date = dates[i], time = times[i], amount = amounts[i])
    
    all_sources.append(source)

for transaction_list in groups['target']['flow']: # C
    target = transactions[transactions['id'].isin(transaction_list)]['target'].tolist()[0]
    sources = transactions[transactions['id'].isin(transaction_list)]['source'].tolist()
    dates = transactions[transactions['id'].isin(transaction_list)]['date'].tolist()
    times = transactions[transactions['id'].isin(transaction_list)]['time'].tolist()
    amounts = transactions[transactions['id'].isin(transaction_list)]['amount'].tolist() 
    
    G.add_node(target)
    G.add_nodes_from(sources)
    
    for i in range(0, len(sources)):
        G.add_edge(sources[i], target, date = dates[i], time = times[i], amount = amounts[i])
    
    all_targets.append(target)

In [73]:
#transactions[transactions['id'].isin(groups['source']['flow'])]
#transactions[transactions['id'].isin(groups['source']['flow'][0])]

TypeError: list indices must be integers or slices, not str

In [10]:
watchlist = all_sources + all_targets

#len(transactions)
#in_edges = G.in_edges()   
#out_edges = G.out_edges()
#print(in_edges[0])
#G.edges('4abed95d-5618-42e8-a5a0-06e4d69f81ca')

In [11]:
print(len(all_sources))
print(len(all_targets))
print(len(all_targets)*len(all_sources))

79
131
10349

In [12]:
# just iterate everything without condition
def iter_transactions_of_a_node(node, watchlist, condition = "no", iter = 1): # bfs
    if (node in G):
        if (condition == "no"):
            targets = transactions[transactions['source'].isin([node])]['target'].tolist()
            dates = transactions[transactions['source'].isin([node])]['date'].tolist()
            times = transactions[transactions['source'].isin([node])]['time'].tolist()
            amounts = transactions[transactions['source'].isin([node])]['amount'].tolist() 
            
            for i, target in enumerate(targets):
                if (target not in G):
                    G.add_node(target)
                    watchlist.append(target)
                if not (G.has_edge(node, target)):
                    G.add_edge(node, target, date = dates[i], time = times[i], amount = amounts[i])
            
            sources = transactions[transactions['target'].isin([node])]['source'].tolist()
            dates = transactions[transactions['target'].isin([node])]['date'].tolist()
            times = transactions[transactions['target'].isin([node])]['time'].tolist()
            amounts = transactions[transactions['target'].isin([node])]['amount'].tolist() 
            
            for i, source in enumerate(sources):
                if (source not in G):
                    G.add_node(source)
                    watchlist.append(source)
                #if not (G.has_edge(source, node)):
                G.add_edge(source, node, date = dates[i], time = times[i], amount = amounts[i])
                    
    return watchlist

In [13]:
all_paths = len(all_targets)*len(all_sources)
paths_len = 0
iter_limit = 10
iter = 0

while(iter < iter_limit):
    new_guys = list(watchlist)
    for node in watchlist:
        new_guys = iter_transactions_of_a_node(node, new_guys)
    paths = []
    for source in all_sources:
        for target in all_targets:
            if (nx.has_path(G, source, target)):
                paths.append((source, target))
    paths_len = len(paths)
    iter += 1
    print(paths_len)
    print(iter)

10349
1
10349
2
10349
3
10349
4
10349
5
10349
6
10349
7
10349
8
10349
9
10349
10

In [14]:
# CHECK path
print(len(all_sources))
print(len(all_targets))
print(len(all_targets)*len(all_sources))
print(len(paths))
print(iter)

79
131
10349
10349
10

In [15]:
from statistics import mode
candidates = {}
doublets = []
doublets_targets = []
import datetime
    
# date threshold maybe?
#datetime.datetime.strptime(c, "%m/%d/%Y").date()

for group in groups['source']['flow']:
    source = transactions[transactions['id'].isin(group)]['source'].tolist()[0]
    #total_amount = sum(transactions[transactions['id'].isin(group)]['amount'].tolist())
    all_dates = transactions[transactions['id'].isin(group)]['date'].tolist()
    date_formats = list(set([datetime.datetime.strptime(d,"%m/%d/%Y").date() for d in all_dates if all_dates.count(d) > 1 ]))# what about once only payments?
    dates = list(set([d for d in all_dates if all_dates.count(d)> 1]))
    #date = mode(transactions[transactions['id'].isin(group)]['date'].tolist())
    times = []
    total_amounts = []
    for i, date in enumerate(dates):
        times_list = transactions[(transactions['id'].isin(group)) & (transactions['date'] == date)]['time'].tolist()
        temp = [datetime.datetime.strptime(t, '%H:%M:%S').time() for t in times_list]
        times.append(max(temp))
        total_amounts.append(sum(transactions[(transactions['id'].isin(group)) & (transactions['date'] == date)]['amount'].tolist()))
        doublets.append((source, float(total_amounts[i]), date_formats[i], times[i]))
        
sorted(doublets, key=lambda x: x[2])

for group in groups['target']['flow']:
    target = transactions[transactions['id'].isin(group)]['target'].tolist()[0]
    #total_amount = sum(transactions[transactions['id'].isin(group)]['amount'].tolist())
    all_dates = transactions[transactions['id'].isin(group)]['date'].tolist()
    date_formats = list(set([datetime.datetime.strptime(d,"%m/%d/%Y").date() for d in all_dates if all_dates.count(d) > 1 ]))# what about once only payments?
    dates = list(set([d for d in all_dates if all_dates.count(d)> 1]))    
    times = []
    total_amounts = []
    for i, date in enumerate(dates):
        times_list = transactions[(transactions['id'].isin(group)) & (transactions['date'] == date)]['time'].tolist()
        temp = [datetime.datetime.strptime(t, '%H:%M:%S').time() for t in times_list]
        times.append(max(temp))        
        total_amounts.append(sum(transactions[(transactions['id'].isin(group)) & (transactions['date'] == date)]['amount'].tolist()))
        doublets_targets.append((target, float(total_amounts[i]), date_formats[i], times[i]))

sorted(doublets_targets, key=lambda x: x[2])

id = 1

for i, doublet in enumerate(doublets):
    for j, doublets_target in enumerate(doublets_targets):
        if(doublet[1] > doublets_target[1] and (doublet[2] < doublets_target[2] or 
                                                (doublet[2] == doublets_target[2] and doublet[3] < doublets_target[3]))):
            
            candidates[str(id)] = (doublet[0], doublet[1], doublet[2], doublet[3], 
                          doublets_target[0], doublets_target[1], doublets_target[2], doublets_target[3])
            id += 1
    
    
    #candidates[str(i)] = [t[0] for t in doublets_targets if (t[2] > doublet[2] or t[3] > doublet[3]) 
    #                          and t[1] < doublet[1] ]
    #candidates[doublet[0]] = [t[0] for t in doublets_targets if (t[2] > doublet[2] or t[3] > doublet[3]) 
    #                          and t[1] < doublet[1] ]

#for source in all_sources:
#    time = transactions[transactions['id'].isin(groups['source']['flow'][7])]

#transactions[transactions['id'].isin(groups['source']['flow'][7])]

#nx.get_node_attributes(G, '4abed95d-5618-42e8-a5a0-06e4d69f81ca')
#nx.degree(G)
#groups['source']['flow'][0]
#transactions[transactions['id'].isin(groups['source']['flow'][0])]#['source'].tolist()[0]
#def iter_transactions_of_a_node(iter = 1):transactions[transactions['id'].isin(groups['source']['flow'][0])]

In [46]:
import copy

# filter
new_candidates = copy.deepcopy(candidates)
directs = [] # that's an interesting case
num_of_filtered = 0

for i, candidate_list in candidates.items():
    key = doublets[int(i)][0]
    for candidate in candidate_list:
        sp_length = nx.shortest_path_length(G, source=key, target=candidate)
        if (sp_length == 1):
            directs.append((key, candidate))
            new_candidates[i].remove(candidate)
            num_of_filtered += 1
            if(len(new_candidates[i]) == 0):
                print("no new candidate")
                new_candidates.pop(i, None)




#transactions[transactions['source'] == all_sources[0]]#['source'].tolist()[0]

no new candidate
no new candidate
no new candidate
no new candidate
no new candidate
no new candidate
no new candidate
sa
387
3773
3773

In [48]:
print(len(candidates))
for key, candidate_list in new_candidates.items():
    print(transactions[transactions['source']==doublets[int(key)]])
    print(transactions[transactions['target']==candidate_list[0]])

    break

394
Empty DataFrame
Columns: [id, source, target, date, time, amount, currency]
Index: []
                                         id  \
2909   3374ae1f-6ae0-4224-992d-fedca8ae9aee
3208   4e81f322-0dcf-4b6b-a335-d29d7629b08f
4922   5d1ed02e-fa52-4a3d-be6b-029fe1accac5
4923   3170768f-29a1-44b8-892e-e92d16285294
8625   aea86d31-ec4c-4b39-889a-a19b4249c71f
8677   eaf49421-9246-4716-a2fe-e66d054da90b
15605  7b991ca8-2edd-4ab3-9a51-67072ba476ce
15606  1ef90153-e578-4e50-99c9-5a64e2fac889

                                     source  \
2909   73eaba3b-e08b-446a-8b27-c1341911cde1
3208   912afa6d-4639-4ea5-ba89-1e3fb8fe31cd
4922   92071da8-82fe-4aa7-a8c5-6922988b1040
4923   92071da8-82fe-4aa7-a8c5-6922988b1040
8625   99cc8fe4-68f8-48b4-99dc-c3712e2803d7
8677   0dfff2ea-bd25-41fd-8c4f-efbe8c08ff61
15605  0873e762-56e8-47aa-93fa-fa65afba3ddf
15606  0873e762-56e8-47aa-93fa-fa65afba3ddf

                                     target        date      time  \
2909   9aab82c0-aa87-4c2b-b0d0-b5bdd9830d3e  06/25/2016  05:50:23
3208   9aab82c0-aa87-4c2b-b0d0-b5bdd9830d3e  11/15/2015  04:56:36
4922   9aab82c0-aa87-4c2b-b0d0-b5bdd9830d3e  06/02/2017  17:28:10
4923   9aab82c0-aa87-4c2b-b0d0-b5bdd9830d3e  12/24/2016  17:26:57
8625   9aab82c0-aa87-4c2b-b0d0-b5bdd9830d3e  05/12/2016  06:27:53
8677   9aab82c0-aa87-4c2b-b0d0-b5bdd9830d3e  08/11/2016  14:31:13
15605  9aab82c0-aa87-4c2b-b0d0-b5bdd9830d3e  12/30/2015  01:21:04
15606  9aab82c0-aa87-4c2b-b0d0-b5bdd9830d3e  08/05/2015  08:46:55

             amount currency
2909   10495.514281     None
3208   83164.224439     None
4922       5.419123     None
4923       3.472554     None
8625       2.268084     None
8677       5.037766     None
15605      3.837491     None
15606      4.374779     None

In [16]:
fd = pd.DataFrame(index=range(0), columns=['source', 's_amount', 's_date', 's_time', 'target', 't_amount', 't_date', 't_time'])

for id, tup in candidates.items():
    fd.loc[id] = tup

In [ ]:
iter_limit = 10
for i in range(1,iter_limit):
    print(candidates[str(i)][0])
    print(candidates[str(i)][4])
    for path in nx.all_simple_paths(G, source=candidates[str(i)][0], target=candidates[str(i)][4]):
        print(path)
        print("sie")
        break
    break

In [ ]:
print("naber")

In [20]:
transactions[transactions['source'].isin(groups['source']['flow'][0])]#['source'].tolist()[0]

,id,source,target,date,time,amount,currency
0,7d5d4762-24fe-4cf0-8185-40eff4d299a0,ee288787-e310-4bb8-b2a1-f0f6a1ad8f06,4abed95d-5618-42e8-a5a0-06e4d69f81ca,24/09/2015,15:57:52,1683.730271,None
286,edfe4edb-cba8-4ae7-900a-4e3330d908d1,ee288787-e310-4bb8-b2a1-f0f6a1ad8f06,ac0c5a47-503a-4852-ac0b-b233239ede95,24/09/2015,15:57:52,1683.730271,None
438,38d4b9ba-0c51-4423-9d03-63ce1e8f8e3b,ee288787-e310-4bb8-b2a1-f0f6a1ad8f06,70be3e21-9907-483b-9b65-0e5acba3f3f8,24/09/2015,15:57:52,1683.730271,None
1587,e3127386-3326-4016-bc12-d4c89e2afa09,ee288787-e310-4bb8-b2a1-f0f6a1ad8f06,89b19391-adf2-40b6-8b8f-b6d04afd5b97,24/09/2015,15:57:52,1683.730271,None

In [ ]:
transactions[transactions['source'].isin(groups['source']['flow'][0])]#['source'].tolist()[0]